.favourite__nav {
    position: fixed;
    top: 0;
    right: -30vw;
    height: 100vh;
    width: 30vw;
    background-color: rgb(184, 184, 184);
    padding: 3rem;
    z-index: 99;
    
    &:hover {
        animation: slideOut .3s linear forwards;
        -webkit-animation: slideOut .3s linear forwards;
    }

    &::after {
        position: absolute;
        content: '';
        top: 2rem;
        left: -30px;
        height: 4rem;
        width: 4rem;
        background-color: rgb(184, 184, 184);
        border-radius: 2.5px;
        -webkit-border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        -ms-border-radius: 2.5px;
        -o-border-radius: 2.5px;
        cursor: pointer;
    }

    @media screen and (max-width: 1000px) {
        width: 70vw;
        right: -70vw;
        
        &:hover {
            animation: slideOutMobile .3s linear forwards;
            -webkit-animation: slideOutMobile .3s linear forwards;
        }
    }
}

.favourite__item-list {
    list-style-type: none;
    overflow: hidden scroll;
}

.favourite__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    
    &:not(:last-child) {
        border-bottom: 1px solid white;
    }
}

@keyframes slideOut {
    100% {
        transform: translateX(-30vw);
        -webkit-transform: translateX(-30vw);
        -moz-transform: translateX(-30vw);
        -ms-transform: translateX(-30vw);
        -o-transform: translateX(-30vw);
    }
}

@keyframes slideOutMobile {
    100% {
        transform: translateX(-70vw);
        -webkit-transform: translateX(-70vw);
        -moz-transform: translateX(-70vw);
        -ms-transform: translateX(-70vw);
        -o-transform: translateX(-70vw);
    }
}